.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

img {
    width: 25px;
    height: 25px;
}

.logo_name {
    font-size: 35px;
    font-weight: 700;
}

.navigation {
    padding: 4px;
    display: flex;
    margin: 20px;

}

li {
    display: inline; 
    margin-right: 5px; 
    padding: 3px;
}
a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    font-weight: 500;
}

.sign_up {
    background: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px 15px;
}